<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title> World Chat </title>
    <script src ="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/socket.io-client/socket.io.js"></script>
    <head>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
    </head>
    <script>
    var canvas = document.createElement('canvas');
    var ctx = canvas.getContext("2d");
    var socket = io.connect();
      var nameApp = angular.module('nameApp', []);
      nameApp.controller('NameCtrl', ['$scope', '$location', '$anchorScroll', function ($scope, $location, $anchorScroll){
        $scope.txtData = [];
        $scope.again = true;
        $scope.user = 'Me';

        //Enter name

        $scope.getName = function(option) {
          var text = "Enter a display name (15 character max)";
          if (option === 1)
            text = "Sorry, that name is already in use\n" + text;
          else if (option === 2)
            text = text.toUpperCase();
          $scope.user = prompt(text);
          socket.emit("name_check", {name: $scope.user}, function(data) {
              $scope.again = data.val;
              if (data.val)
                $scope.getName(1);
              else if ($scope.user && $scope.user.length < 15) {
                socket.emit("user_on", {name : $scope.user});
              }
              else
                $scope.getName(2);
          });
        }
        $scope.getName();
        socket.on("message", function(data) {
          $scope.receiveMsg(data);
          $scope.$apply();
        });

        $scope.sendMsg = function() {
          if ($scope.msg && $scope.txtData.indexOf($scope.msg) == -1){
            var testDisconnect = new RegExp("'" + $scope.user + "'" + "\\s+" + "disconnected");
            if (testDisconnect.test($scope.msg))
              $scope.msg += " (jk)";
            socket.emit("message_sent", {name: $scope.user, message: $scope.msg});
            $scope.receiveMsg({name: $scope.user, message: $scope.msg});
          }
          $scope.msg = '';
        }

        $scope.receiveMsg = function(data) {
            var iSent = data.name === $scope.user;
            var nameLgt = $scope.giveWidth(data.name, "bold ");
            var txtLgt = $scope.giveWidth(data.message);
            if (nameLgt > txtLgt)
                txtLgt = nameLgt;
            $scope.txtData.push($scope.msgContent(iSent, data, txtLgt));
            $location.hash('bottom');
            setTimeout(function(){$anchorScroll();},1);
        }

        $scope.giveWidth = function(string, bold) {
          if (bold != undefined) {
            ctx.font = "bold 12px Verdana";
            string += ":";
          }
          else
            ctx.font = "12px Verdana";
          var array = string.split(' '), length = 0;
          if (ctx.measureText(string).width < 150) {
            length = ctx.measureText(string).width;
          }
          else
            length = 150;
          return length;
        }

        $scope.msgContent = function(iSent, data, txtLgt) {
          var obj = {txt: data.message, lngt: txtLgt, pos: 250 - txtLgt, Name: data.name};
          if (iSent) {
            obj.side = 'right';
            obj.color = 'lightblue';
            obj.border = '2px solid blue';
          }
          else {
            obj.side = 'left';
            obj.color = 'salmon';
            obj.border = '2px solid firebrick';
          }
          return obj;
        }
      }]);
    </script>

  </head>
  <body ng-controller="NameCtrl">
    <div id="container2">
    <div id="container1">
          <div ng-repeat="data in txtData">
            <div id="msgWrapper" ng-style="{ 'width' : data.lngt, 'float' : data.side, 'clear' : 'both', 'background-color' : data.color, 'border' : data.border}">
              <div style="width: 100%; font: 12px Verdana; font-weight: bold;">{{data.Name}}:</div>
              <span id="textStyle">{{data.txt}}<br></span>
          </div><br>
          </div>
           <div id="bottom" style="width: 100%; clear: both;"></div>
    </div>
    </div>
    <form ng-submit="sendMsg()">
      <input type="text" ng-model="msg">
      <input type="submit" value="send">
    </form>
  </body>
</html>